@model List<DivineCourse>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>КУРСИК))</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f4f4;
        }
        .container {
            max-width: 1080px;
            min-width: 1080px;
            margin: 0 auto;
            padding: 20px;
            position: relative;
            margin-top: 50px;
            
        }
        .currency-table {
            width: 100%;
            border-collapse: collapse;
            background-color: #ffffff;
        }
        .currency-table th, .currency-table td {
            padding: 10px;
            text-align: center;
        }
        .currency-table th {
            background-color: #343a40;
            color: #ffffff;
        }
        .currency-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .currency-table tr:hover {
            background-color: #e2e2e2;
        }
       .animated-line {
                   position: fixed;
                   top: 2px;
                   left: 0;
                   right: 0;
                   height: 37px;
                   background-color: #F5F5DC;
                   
               }
        .ZAgolovok{
        text-align: center;
        }      
        
        #courseChart {
            width: 400px; /* желаемая ширина */
            height: 200px; /* желаемая высота */
            overflow: hidden;
        }
      
        
    </style>
</head>
<body>


<div class="animated-line">
        <marquee scrolldelay="0" behavior="slide" direction="right">
            <div class="popka" style="justify-content:space-between;">
                @if(ViewBag.anal > 0)
                {
                    <div class=" d-inline-block  border border-success border-2 rounded text-success  mb-3 mr-3" style="transform: scale(0.99);">
                    <div class="text-md-center" style="transform: scale(0.8);">
                        <i class="bi bi-chevron-up">  Divine/Ruble @ViewBag.anal%</i>
                    </div>
                    </div>




                }
                else{

                    <div class="d-inline-block  border border-danger border-2 rounded text-success  mb-3 mr-3" style="transform: scale(0.99); margin-top: 4px;">
                        <div class="text-md-center" style="transform: scale(0.8);">
                            <i class="bi bi-chevron-up">  Divine/Ruble @ViewBag.anal%</i>
                        </div>
                    </div>



                }
                @if (ViewBag.Chaos > 0)
                {
                    <div class="d-inline-block  border border-success border-2 rounded text-success  mb-3 mr-3" style="transform: scale(0.99); margin-top: 4px;">
                        <div class="text-md-center" style="transform: scale(0.8);">
                            <i class="bi bi-chevron-up">  Divine/Chaos @ViewBag.ChaosCurse%</i>
                        </div>
                    </div>




                }
                else
                {

                    <div class="d-inline-block  border border-danger border-2 rounded text-success  mb-3 mr-3" style="transform: scale(0.99); margin-top: 4px;">
                        <div class="text-md-center" style="transform: scale(0.8);">
                            <i class="bi bi-chevron-up">  Divine/Chaos @ViewBag.ChaosCurse%</i>
                        </div>
                    </div>



                }

               <!-- <i class="bi bi-chevron-down"> <span>Divine/Chaos</span> @ViewBag.anal%</i> -->
            </div>
            </marquee>
</div>
    <div class="ZAgolovok"><h1>Курсик @ViewBag.anal</h1></div>

<div class="container">

    <table class="currency-table table table-striped mt-4">
        <thead>
        <tr>
            <th>Валюта</th>
            <th>Курс к рублю</th>
            <th>Курс к хаосу</th>
        </tr>
        </thead>
        <tbody>
        <tr onclick="runSteamGame(238960)">
            <td><img src="https://web.poecdn.com/gen/image/WzI1LDE0LHsiZiI6IjJESXRlbXMvQ3VycmVuY3kvQ3VycmVuY3lNb2RWYWx1ZXMiLCJ3IjoxLCJoIjoxLCJzY2FsZSI6MX1d/e1a54ff97d/CurrencyModValues.png"/>Дивайн</td>
            <td><img src="https://bipbap.ru/wp-content/uploads/2017/10/22-1-640x427.png" width="47" height="47"/> @ViewBag.jopa</td>
            <td><img src="https://web.poecdn.com/gen/image/WzI1LDE0LHsiZiI6IjJESXRlbXMvQ3VycmVuY3kvQ3VycmVuY3lSZXJvbGxSYXJlIiwidyI6MSwiaCI6MSwic2NhbGUiOjF9XQ/d119a0d734/CurrencyRerollRare.png"/> @ViewBag.pisia</td>
        </tr>
        <!-- Добавьте другие строки с курсами валют здесь -->
        </tbody>
    </table>
</div>
<div>
    <canvas id="rubChart" width="400" height="200"></canvas>
</div>
<div>
    <canvas id="chaosChart" width="400" height="200"></canvas>
</div>

<script>
    var rubCtx = document.getElementById('rubChart').getContext('2d');
    var chaosCtx = document.getElementById('chaosChart').getContext('2d');

    var dates = @Html.Raw(Json.Serialize(Model.Select(rate => rate.Date.ToShortDateString()).ToList()));
    var rubValues = @Html.Raw(Json.Serialize(Model.Select(rate => rate.RUB).ToList()));
    var chaosValues = @Html.Raw(Json.Serialize(Model.Select(rate => rate.Chaos).ToList()));

    var rubConfig = {
        type: 'line',
        data: {
            labels: dates,
            datasets: [
                {
                    label: 'RUB',
                    data: rubValues,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false
                }
            ]
        },
        options: {
            scales: {
                y: {
                    max: 50, // Устанавливаем максимальное значение на оси y
                    beginAtZero: true // Начинаем ось y с нуля
                }
            }
        }
    };

    var chaosConfig = {
        type: 'line',
        data: {
            labels: dates,
            datasets: [
                {
                    label: 'Chaos',
                    data: chaosValues,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    fill: false
                }
            ]
        },
        options: {}
    };

    var rubChart = new Chart(rubCtx, rubConfig);
    var chaosChart = new Chart(chaosCtx, chaosConfig);
</script>


<script>
        function runSteamGame(gameId) {
            var steamUrl = 'steam://run/' + gameId;
            window.location.href = steamUrl;
        }
    </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>